<!-- @format -->

{% extends "base.html" %} {% load static %} {% block content %}
<section class="row align-items-center justify-content-center ">
  <img class="col-6" src="{% static "beef_dish.jpg" %}" alt="Bistecca alla
  Fiorentina">
  <p class="col-6">
    Known as the holiest of holies of Italian cuisine, the Florentine-style beef
    steak is prepared exclusively with dry-aged beef from the Chianina cattle,
    which is particularly prized for its tenderness. Even though bistecca alla
    Fiorentina is often described as a T-bone steak, it is much closer to a
    porterhouse - since it's cut closer to the center, the tenderloin is much
    larger than the one on a regular T-bone. Also, bistecca alla Fiorentina must
    be thick; the cut needs to be at least three fingers wide so that when the
    meat is grilled over a very hot flame, a nice, slightly charred crust forms
    on the outside of the steak while the inside remains succulent.
  </p>
</section>
{% endblock %}
