<!-- @format -->
{% extends "base.html" %} {% load static %} {% block content %}
<section class="main_bg">
  <div class="row w-100 justify-content-center align-items-center py-4">
    <div class="col-6">
      <h1>Hello, I'm Aliz</h1>
      <p>
        I'm the chef of this Butter Galore restaurent and also the owner of this
        restaurent. I provide you 100% fresh food. Food food are home made and
        healthy.
      </p>
    </div>
    <img class="col-4" src="{% static "about_us/chef.jpg" %}" alt="chef" />
  </div>
</section>
{% endblock %}
